.ion-android-person, .ion-ios-location, .ion-person-stalker, .ion-android-bus, .ion-cube, .ion-clipboard, .ion-paintbrush, .ion-android-happy, .ion-help-buoy, .ion-tshirt, .ion-ios-redo, .ion-ios-undo{
    font-size: 100px;
    color: #0c5460;
}

.btn-ver{
    background-color: #0c5460;
    border-color: #0c5460;
}

.bg-person{
    background-color: #0c5460;
}

.btn-ver:hover {
    background-color: #0c333f;
    border-color: #0c333f ;
}

.card-person {
    background-color: #f8f9fa;
    border-width: 0.2em;
}

.row-person-footer{
    height: 154px;
    bottom: 0;
    background-color: #0c5460;
}

.table td {
   padding: 11px 11px 0px 5px !important;
}